/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* end reset */


html {
    --white: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);

    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: url("./images/background-pattern-mobile.svg");
    background-color: var(--lightPink);
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    position: relative;
}

.accordion {
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 12px;
    position: absolute;
    top: 140px;
    width: 90%;

}

.main-header {
    display: flex;
    gap: 20px;
    padding-bottom: 1.2em;
}

.title-icon {
    width: 1.4em;
}

.accordion-item:hover,
.plus-icon:hover {
    cursor: pointer;

}

.accordion-title-items {
    display: flex;
    justify-content: space-between;
}



.accordion-title {
    color: var(--darkPurple);
    font-size: 17px;
    width: 80%;
    font-weight: 600;
}

.plus-icon {
    background-color: transparent;
    background-image: url('./images/icon-plus.svg');
    background-repeat: no-repeat;
    border: none;
    padding: .9em;
    align-self: center;
}

.accordion-content {
    display: none;
}

p {
    color: var(--grayishPurple);
    font-size: 1rem;
}

hr {
    opacity: .1;
    margin: .6em 0;
    border-left: none;
    border-right: none;
}

.accordion-item.is-open .accordion-content {
    display: block;
    padding: 1em 0;
}

.accordion-item.is-open .accordion-title-items .plus-icon {
    background-image: url('./images/icon-minus.svg');
}